* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1abc9c;
}

.container-fluid {}

.container-fluid img {
    width: 200px;
}

.trait {
    display: flex;
    justify-content: center;
}

.trait div {
    background-color: #fff;
    padding: 2px;
    margin: 10px;
    width: 80px;
}

.fa-star {
    color: #fff;
}